{% extends 'layout-base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="flex-shrink-0">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h1>oe-modules.com</h1>
            </div>
        </div>
    </div>
</main>
{% endblock %}
