/.github export-ignore
/docker export-ignore
/features export-ignore
/tests export-ignore
/tools export-ignore

.gitattributes export-ignore
.gitignore export-ignore
churn.dist.yml export-ignore
churn.yml export-ignore
codecov.yml export-ignore
deploy.php export-ignore
ecs.php export-ignore
phparkitect.php export-ignore
phparkitect-baseline.json export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore
psalm-baseline.xml export-ignore
rector.php export-ignore

/_bffApi/tests
/_bffWeb/tests
/_catalog/tests
/_metadata/tests