/.github export-ignore
/docker export-ignore
/engine-service/features export-ignore
/engine-service/tests export-ignore
/engine-service/tools export-ignore

.gitattributes export-ignore
.gitignore export-ignore
/engine-service/.env.test export-ignore
/engine-service/.env.dev export-ignore
/engine-service/behat.yml export-ignore
/engine-service/churn.dist.yml export-ignore
/engine-service/churn.yml export-ignore
/engine-service/codecov.yml export-ignore
/engine-service/deploy.php export-ignore
/engine-service/ecs.php export-ignore
/engine-service/phparkitect.php export-ignore
/engine-service/phparkitect-baseline.json export-ignore
/engine-service/phpunit.xml.dist export-ignore
/engine-service/psalm.xml export-ignore
/engine-service/psalm-baseline.xml export-ignore
/engine-service/rector.php export-ignore

/engine-service/context/bffApi/tests
/engine-service/context/bffWeb/tests
/engine-service/context/catalog/tests
/engine-service/context/metadata/tests