<ul class="list-group">
{% for module in modules %}
    <li class="list-group-item">
        <a href="{{ module.url }}" class="text-decoration-none" target="_blank">
            {{ module.name }}
        </a>
    </li>
{% endfor %}
</ul>
