<ul class="list-group">
{% for module in modules %}
    <li class="list-group-item">
        <a href="{{ path('web_module_show', {'packageName': module.name}) }}" class="text-muted text-decoration-none fs-6" target="_blank">
            {{ module.name }}
        </a>
    </li>
{% endfor %}
</ul>

<div class="row mt-5 justify-content-center">
    {#                           TODO: translate#}
    <p class="text-center">Total count: {{ totalModuleCount }}</p>
</div>
