{{
form_start(
    form, {'method': 'POST', 'attr': { 'class': 'form', 'role': 'form', 'novalidate': 'novalidate'}}
)
}}
    {{ form_widget(form) }}

<div class="text-center"><button type="submit" class="btn btn-info">{{ button_label|default('Invia messaggio') }}</button></div>
{{ form_end(form) }}




{# template di riferimento #}

{#                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">#}
{#                        <div class="row">#}
{#                            <div class="form-group col-md-6">#}
{#                                <label for="name">Nome</label>#}
{#                                <input type="text" name="name" class="form-control" id="name" required>#}
{#                            </div>#}
{#                            <div class="form-group col-md-6">#}
{#                                <label for="name">Email</label>#}
{#                                <input type="email" class="form-control" name="email" id="email" required>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="name">Oggetto</label>#}
{#                            <input type="text" class="form-control" name="subject" id="subject" required>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="name">Messaggio</label>#}
{#                            <textarea class="form-control" name="message" rows="10" required></textarea>#}
{#                        </div>#}
{#                        <div class="my-3">#}
{#                            <div class="loading">Loading</div>#}
{#                            <div class="error-message"></div>#}
{#                            <div class="sent-message">Your message has been sent. Thank you!</div>#}
{#                        </div>#}
{#                        <div class="text-center"><button type="submit">Invia messaggio</button></div>#}
{#                    </form>#}
