{% extends '@web/layout-base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="flex-shrink-0">
    <div class="container mt-1">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h1>Contact Us</h1>
                <p class="text-muted">
                    Get in Touch.
                </p>
            </div>
        </div>

        <div class="row mt-1 justify-content-center">
            <div class="col-6 justify-content-center">
                {% include '@web/contact/_form.html.twig' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
