<footer class="footer mt-5">
    <div class="container col-6 justify-content-center text-center">
        <span class="text-muted">marketplace.oe-module.com made by <a href="" class="text-decoration-none" target="_blank">MedicalMundi</a></span>
        -
        <span><a href="https://github.com/MedicalMundi/marketplace-engine" class="text-decoration-none" target="_blank">fork me</a></span>
    </div>
</footer>
