<footer class="footer mt-5">
    <div class="container col-sm-12 col-md-auto col-lg-8 justify-content-center text-center">
        <span class="text-muted">marketplace.oe-module.com made with <i class="bi bi-heart-fill text-danger"></i> by <a href="https://github.com/medicalmundi" class="text-muted text-decoration-none fw-bold" target="_blank">MedicalMundi</a></span>
        <p class="text-muted">version: {{ release_version }} - <a href="https://github.com/MedicalMundi/marketplace-engine" class="text-muted text-decoration-none" target="_blank">fork me</a></p>
    </div>
</footer>
