<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=G-H6S9209QPF" >
        <link rel="dns-prefetch" href="https://www.googletagmanager.com/" >
        {% if app.environment == 'prod' %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-H6S9209QPF"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-H6S9209QPF');
            </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block metadata_description %}
            <meta name="description" content="OpenEmr modules marketplace">
        {% endblock %}
        {% block metadata_keywords %}
            <meta name="keywords" content="OpenEmr module, openemr module, openemr, oe-modules, openEmr marketplace">
        {% endblock %}
        {% block metadata_author %}
            <meta name="author" content="MedicalMundi.com">
        {% endblock %}
        {% if not google_site_verification == '' %}
            <meta name="google-site-verification" content="{{ google_site_verification }}" />
        {% endif %}

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% block body %}{% endblock %}

        {{ piwik_code() }}
    </body>
</html>
