<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="var/cache_tools/phpunit/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="10" />
    </php>

    <testsuites>
        <testsuite name="omnia">
            <directory>tests</directory>
            <directory>context/catalog/tests</directory>
            <directory>context/bffWeb/tests</directory>
            <directory>context/bffApi/tests</directory>
            <directory>context/metadata/tests</directory>
        </testsuite>
        <testsuite name="catalog">
            <directory>context/catalog/tests</directory>
        </testsuite>
        <testsuite name="bffWeb">
            <directory>context/bffWeb/tests</directory>
        </testsuite>
        <testsuite name="bffApi">
            <directory>context/bffApi/tests</directory>
        </testsuite>
        <testsuite name="metadata">
            <directory>context/metadata/tests</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>tests/Unit</directory>
            <directory>context/catalog/tests/Unit</directory>
            <directory>context/bffWeb/tests/Unit</directory>
            <directory>context/bffApi/tests/Unit</directory>
            <directory>context/metadata/tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
            <directory>context/catalog/tests/Integration</directory>
            <directory>context/bffWeb/tests/Integration</directory>
            <directory>context/bffApi/tests/Integration</directory>
            <directory>context/metadata/tests/Integration</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
            <directory>context/catalog/tests/Functional</directory>
            <directory>context/bffWeb/tests/Functional</directory>
            <directory>context/bffApi/tests/Functional</directory>
            <directory>context/metadata/tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
            <directory>context/catalog/src</directory>
            <directory>context/bffWeb/src</directory>
            <directory>context/bffApi/src</directory>
            <directory>context/metadata/src</directory>
        </include>
    </source>
</phpunit>
